$font-main: 'Work Sans';
$font-title: 'Syne';
$font-size-base: 14px;
$color-background-Off-White: #FFFEF8;
$color-background-dark: black;
$color-white: white;
$color-primary: black;
$color-grey-dark: #333;
$color-grey-medium: #666;
$color-grey-light: #A7A7A7;
$color-grey-border: #ccc;
$color-blue-dark: #1D6154;
$color-blue-light: #CBD6DC;
$color-blue-medium: #306685;
$color-blue-bg: #E8F1F6;
$color-text-secondary: #444444;
$color-secondary: #B1663C;
