#introduction {
    display: flex;
    align-items: center;
    padding-top:55px;
  
    figure {
      flex: 1;
    }
    
    img {
      display: block;
      margin: auto;
      width: 80%;
    }
  
    article {
      flex: 1;
  
      h2 {
        margin-bottom: 1em;
      }
  
      p {
        margin-bottom: 1em;
        width:404px;
      }
    }
  }
  
  #portfolio h2 {
    text-align: center;
    margin-bottom: 1em;
  }
